/* CCS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: sans-serif, "Open Sans", monospace;
}

header{
    margin: 40px;
}

nav{
    margin-bottom: 40px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 17%;
}

/* === NAV INFO HERE === */
nav {
    text-align: center;
    background-color: #333;
}

a:link {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    text-transform: capitalize;
}

a:visited {
    color: #979aa0;
}

a:hover {
    color: #333;
    background-color: #fff;
}

/* === HEADER INFO HERE === */
header {
    padding: 0 20px;
}

header h1 {
    font-family: monospace, "sans-serif", serif;
    font-size: 52px;
    text-transform: uppercase;
    text-align: center;
    color: #333;
}

/* === TIMELINE INFO HERE === */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: auto;



/* === FOOTER INFO HERE === */
footer {
    padding: 0 20px;
    font-style: italic;
    font-family: Georgia, serif;
}
