/* CCS Document */
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:600');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

/* === ICONS HERE === */
#first {
	background: url(../images/bg.png) no-repeat fixed center center;
	background-size: cover;
	width:100%;
	min-height: 100%;
	height: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

section figure {
	border-radius: 50%;
	height: 140px;
	width: 140px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	transition: all .3s;
	position: relative;
}

section figure:hover {
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}

#f1 {
	background: url(../images/fig1.png) no-repeat center center;
	background-size: cover;
	top: 180px;
	left: 110px;
}

#f1:hover {
	height: 180px;
	width: 180px;
	background: url(../images/fig1_hover.png) no-repeat center center;
	background-size: 180px;
}

#f2 {
	background: url(../images/fig2.png) no-repeat center center;
	background-size: cover;
	left: 80px;
}

#f2:hover {
	height: 180px;
	width: 180px;
	background: url(../images/fig2_hover.png) no-repeat center center;
	background-size: 180px;
}

#f3 {
	background: url(../images/fig3.png) no-repeat center center;
	background-size: cover;
	top: -240px;
	left: -140px;
}

#f3:hover {
	height: 180px;
	width: 180px;
	background: url(../images/fig3_hover.png) no-repeat center center;
	background-size: 180px;
}

#f4 {
	background: url(../images/fig4.png) no-repeat center center;
	background-size: cover;
	top: -180px;
	left: 120px;
}

#f4:hover {
	height: 180px;
	width: 180px;
	background: url(../images/fig4_hover.png) no-repeat center center;
	background-size: 180px;
}

#f5 {
	background: url(../images/fig5.png) no-repeat center center;
	background-size: cover;
	top: -20px;
	left: 120px;
}

#f5:hover {
	height: 180px;
	width: 180px;
	background: url(../images/fig5_hover.png) no-repeat center center;
	background-size: 180px;
}

#f6 {
	background: url(../images/fig6.png) no-repeat center center;
	background-size: cover;
	top: 170px;
	left: -210px;
}

#f6:hover {
	height: 180px;
	width: 180px;
	background: url(../images/fig6_hover.png) no-repeat center center;
	background-size: 180px;
}

#meme {
	width: 230px;
	height: 300px;
	border-radius: 0;
	z-index: 1;
}

h1 {
	bottom: 80px;
	font-family: 'Chakra Petch', sans-serif;
	font-size: 30px;
	font-weight: 600;
	position: absolute;
	color: #fff;
}


/* === CHAT HERE === */
.chatmain {
	border-radius: 0;
	overflow: hidden;
	width: 380px;
	margin: 0 auto;
	position: relative;
}

#chat {
	height: 500px;
	width: 380px;
	background: url(../images/chat/bg.png) no-repeat center center;
	background-size: contain;
	top: 70px;
	left: 530px;
	position: absolute;
	z-index: 2;
	display: none;
	transform-origin: bottom left;
	animation: appear .5s linear;
}

@keyframes appear {
	from {transform: scale(0,0);}
	to {transform: scale(1,1);}
}

#d1 {
	height: 80px;
	width: 180px;
	background: url(../images/chat/dialogue1.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	top: 70px;
	left: 160px;
	animation: scrollup .5s .05s ease-out;

}

@keyframes scrollup {
	0% {top: 270px;}
	50% {top: 170px;}
	100% {top: 70px;}
}

#d2 {
	height: 80px;
	width: 180px;
	background: url(../images/chat/dialogue2.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	top: 135px;
	left: 40px;
	animation: scrollup2 .5s .1s ease-out;
}

@keyframes scrollup2 {
	0% {top: 335px;}
	50% {top: 235px;}
	100% {top: 135px;}
}

#d3 {
	height: 80px;
	width: 130px;
	background: url(../images/chat/dialogue3.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	top: 200px;
	left: 40px;
	animation: scrollup3 .5s .15s ease-out;
}

@keyframes scrollup3 {
	0% {top: 400px;}
	50% {top: 300px;}
	100% {top: 200px;}
}

#memed {
	height: 150px;
	width: 180px;
	background: url(../images/chat/meme_dialogue.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	top: 290px;
	left: 165px;
	animation: scrollup4 .5s .2s ease-out;
}

@keyframes scrollup4 {
	0% {top: 490px;}
	50% {top: 390px;}
	100% {top: 290px;}
}

#text1 {
	height: 500px;
	width: 380px;
	background: url(../images/chat/text.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	z-index: 3;
	top: 70px;
	left: 530px;
	display: none;
	transform-origin: bottom left;
	animation: fadein_text1 2s ease-out;
}

@keyframes fadein_text1 {
	0% {opacity: 0; z-index: 1;}
	50% {opacity: 0; z-index: 2;}
	100% {opacity: 1; z-index: 2;}
}

#closechat {
	height: 25px;
	width: 25px;
	background: url(../images/chat/close.png) no-repeat center center;
	background-size: contain;
	z-index: 3;
	position: absolute;
	top: 90px;
	right: 570px;
	display: none;
	cursor: pointer;
	animation: fadein_text1 2s ease-out;
}


/* === PHONE HERE === */
.phonemain {
	position: relative;
	border-radius: 0;
	overflow: hidden;
}

#phone {
	height: 500px;
	width: 380px;
	background: url(../images/phone/bg.png) no-repeat center center;
	background-size: contain;
	top: 70px;
	left: 530px;
	position: absolute;
	z-index: 2;
	display: none;
	animation: appear2 .8s linear;
}

@keyframes appear2 {
	0% {height: 0; width: 0;}
	50% {height: 250px; width: 190px;}
	100% {height: 500px; width: 380px;}
}

#memep {
	height: 210px;
	width: 180px;
	background: url(../images/phone/memep.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	top: 195px;
	left: 100px;
	animation: fadein .8s .2s ease-out;
}

@keyframes fadein {
	from {top: 455px; opacity: 0;}
	to {top: 195px; opacity: 1;}
}

#text2 {
	height: 210px;
	width: 180px;
	background: url(../images/phone/text.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	z-index: 100;
	top: 70px;
	left: 530px;
	animation: dropdown 1.5s .5s linear;
}

@keyframes dropdown {
	from {top: -570px; left: 530px;}
	to {top: 70px; left: 530px;}
}


/* === VIDEO HERE === */
.videomain {
	position: relative;
	border-radius: 0;
	overflow: hidden;
}

#video {
	height: 500px;
	width: 430px;
	background: url(../images/video/bg.png) no-repeat center center;
	background-size: contain;
	top: 70px;
	left: 510px;
	position: absolute;
	z-index: 2;
	display: none;
	animation: appear3 .5s linear;
}

@keyframes appear3 {
	0% {height: 0; width: 0;}
	50% {height: 250px; width: 215px;}
	100% {height: 500px; width: 430px;}
}

#memetext {
	height: 380px;
	width: 350px;
	background: url(../images/video/memetext.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	top: 0px;
	left: 45px;
}

#play {
	height: 18px;
	width: 18px;
	background: url(../images/video/play.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	top: 392px;
	left: 23px;
}

#pause {
	height: 18px;
	width: 18px;
	background: url(../images/video/pause.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	top: 392px;
	left: 23px;
}


/* === SOCIALMEDIA HERE === */
.socialmediamain {
	position: relative;
	border-radius: 0;
	overflow: hidden;
}

#socialmedia {
	height: 500px;
	width: 380px;
	background: url(../images/socialmedia/bg.png) no-repeat center center;
	background-size: contain;
	top: 70px;
	left: 530px;
	position: absolute;
	z-index: 2;
	display: none;
	animation: appear4 .5s linear;
}

@keyframes appear4 {
	0% {height: 0; width: 0;}
	50% {height: 250px; width: 190px;}
	100% {height: 500px; width: 380px;}
}

#comment {
	height: 15px;
	width: 130px;
	background: url(../images/socialmedia/comment.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	top: 435px;
	left: 56px;
}

#like1 {
	height: 80px;
	width: 120px;
	background: url(../images/socialmedia/like1.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	top: 418px;
	left: 195px;
}

#like2 {
	height: 80px;
	width: 120px;
	background: url(../images/socialmedia/like2.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	top: 418px;
	left: 195px;
}

#like3 {
	height: 80px;
	width: 120px;
	background: url(../images/socialmedia/like3.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	top: 418px;
	left: 195px;
}


/* === VILIFY HERE === */
.vilifymain {
	position: relative;
	border-radius: 0;
	overflow: hidden;
}

#vilify {
	height: 500px;
	width: 380px;
	background: url(../images/vilify/bg.png) no-repeat center center;
	background-size: contain;
	top: 70px;
	left: 530px;
	position: absolute;
	z-index: 2;
	display: none;
	transform-origin: 530px 530px;
	animation: appear5 .5s linear;
}

@keyframes appear5 {
	0% {height: 0; width: 0;}
	50% {height: 250px; width: 190px;}
	100% {height: 500px; width: 380px;}
}

#memeoriginal {
	height: 80px;
	width: 120px;
	background: url(../images/vilify/meme.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	top: 418px;
	left: 195px;
}

#selected {
	height: 80px;
	width: 120px;
	background: url(../images/vilify/memeselected.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	top: 418px;
	left: 195px;
}

#vilified {
	height: 80px;
	width: 120px;
	background: url(../images/vilify/vilified.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	top: 418px;
	left: 195px;
}


/* === SELL HERE === */
.sellmain {
	position: relative;
	border-radius: 0;
	overflow: hidden;
}

#sell {
	height: 500px;
	width: 500px;
	background: url(../images/sell/bg.png) no-repeat center center;
	background-size: contain;
	top: 70px;
	left: 470px;
	position: absolute;
	z-index: 2;
	display: none;
	animation: appear6 .5s linear;
}

@keyframes appear6 {
	0% {height: 0; width: 0;}
	50% {height: 250px; width: 250px;}
	100% {height: 500px; width: 500px;}
}

#memeshirt {
	height: 80px;
	width: 120px;
	background: url(../images/vilify/vilified.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	top: 418px;
	left: 195px;
}

#bigsale {
	height: 80px;
	width: 120px;
	background: url(../images/vilify/vilified.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	top: 418px;
	left: 195px;
}

#price {
	height: 80px;
	width: 120px;
	background: url(../images/vilify/vilified.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	top: 418px;
	left: 195px;
}

#purchase {
	height: 80px;
	width: 120px;
	background: url(../images/vilify/vilified.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	top: 418px;
	left: 195px;
}
