/* CCS Document */
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:600');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

#first {
	background: url(../images/bg.png) no-repeat fixed center center;
	background-size: cover;
	width:100%;
	min-height: 100%;
	height: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

figure {
	border-radius: 50%;
	height: 140px;
	width: 140px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	transition: all .3s;
	position: relative;
}

figure:hover {
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}

#f1 {
	background: url(../images/fig1.png) no-repeat center center;
	background-size: cover;
	top: 180px;
	left: 110px;
}

#f1:hover {
	height: 180px;
	width: 180px;
	background: url(../images/fig1_hover.png) no-repeat center center;
	background-size: 180px;
}

#f2 {
	background: url(../images/fig2.png) no-repeat center center;
	background-size: cover;
	left: 80px;
}

#f2:hover {
	height: 180px;
	width: 180px;
	background: url(../images/fig2_hover.png) no-repeat center center;
	background-size: 180px;
}

#f3 {
	background: url(../images/fig3.png) no-repeat center center;
	background-size: cover;
	top: -240px;
	left: -140px;
}

#f3:hover {
	height: 180px;
	width: 180px;
	background: url(../images/fig3_hover.png) no-repeat center center;
	background-size: 180px;
}

#f4 {
	background: url(../images/fig4.png) no-repeat center center;
	background-size: cover;
	top: -180px;
	left: 120px;
}

#f4:hover {
	height: 180px;
	width: 180px;
	background: url(../images/fig4_hover.png) no-repeat center center;
	background-size: 180px;
}

#f5 {
	background: url(../images/fig5.png) no-repeat center center;
	background-size: cover;
	top: -20px;
	left: 120px;
}

#f5:hover {
	height: 180px;
	width: 180px;
	background: url(../images/fig5_hover.png) no-repeat center center;
	background-size: 180px;
}

#f6 {
	background: url(../images/fig6.png) no-repeat center center;
	background-size: cover;
	top: 170px;
	left: -210px;
}

#f6:hover {
	height: 180px;
	width: 180px;
	background: url(../images/fig6_hover.png) no-repeat center center;
	background-size: 180px;
}

#meme {
	width: 230px;
	height: 300px;
	border-radius: 0;
	z-index: 100;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0);
	/* position: fixed; */
}

#meme:hover {
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}

h1 {
	bottom: 80px;
	font-family: 'Chakra Petch', sans-serif;
	font-size: 30px;
	font-weight: 600;
	position: absolute;
}
