/* CCS Document */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

#first {
	background: url(../images/bg.png) no-repeat fixed center center;
	background-size: cover;
	width:100%;
	min-height: 100%;
	height: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

figure {
	border-radius: 50%;
	height: 110px;
	width: 110px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	transition: all .3s;
	position: relative;
}

figure:hover {
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}

#f1 {
	background: url(../images/bg1.jpg) no-repeat center center;
	background-size: cover;
}

#f1:hover {
	background: url(../images/bg1.jpg) no-repeat center right;
	background-size: cover;
}

#f2 {
	background: url(../images/bg2.jpg) no-repeat center center;
	background-size: cover;
}

#f2:hover {
	background: url(../images/bg2.jpg) no-repeat center right;
	background-size: cover;
}

#f3 {
	background: url(../images/bg3.jpg) no-repeat center center;
	background-size: cover;
}

#f3:hover {
	background: url(../images/bg3.jpg) no-repeat center right;
	background-size: cover;
}

#f4 {
	background: url(../images/bg4.jpg) no-repeat center center;
	background-size: cover;
}

#f4:hover {
	background: url(../images/bg4.jpg) no-repeat center right;
	background-size: cover;
}
